In [1]:
# Import Pandas
import pandas as pd

In [2]:
# Read Clean.csv
data = pd.read_csv('clean.csv')
# Display First 5 Columns of the Data
data.head()

,PassengerId,Status,Pclass,Sex,Age,Count,PclassSex,Survived
0,1,Dead,Pclass 3,male,22.0,1,Pclass 3 male,0
1,2,Survived,Pclass 1,female,38.0,1,Pclass 1 female,1
2,3,Survived,Pclass 3,female,26.0,1,Pclass 3 female,1
3,4,Survived,Pclass 1,female,35.0,1,Pclass 1 female,1
4,5,Dead,Pclass 3,male,35.0,1,Pclass 3 male,0

In [3]:
# Grouping Pclass and Count so that we get the count of PAssengers in each Passenger Class
x  = data.groupby('Pclass')['Count'].sum()
# Output x
x

Pclass
Pclass 1    186
Pclass 2    173
Pclass 3    355
Name: Count, dtype: int64

In [4]:
# Grouping Data by PclassSex, Status and Count So that we get the count of Passengers in Each Passenger Class grouped by their Sex 
y = data.groupby(['PclassSex','Status'])['Count'].sum().unstack(level=1)
# Creating a New varible SurvivedPct 
y['SurvivedPct'] = y['Survived'] /( y['Survived'] + y['Dead']) *100
# output y
y

Status           Dead  Survived  SurvivedPct
PclassSex
Pclass 1 female     3        82    96.470588
Pclass 1 male      61        40    39.603960
Pclass 2 female     6        68    91.891892
Pclass 2 male      84        15    15.151515
Pclass 3 female    55        47    46.078431
Pclass 3 male     215        38    15.019763

In [5]:
# Write Data to a new file
y.to_csv('clean_Final.csv')